<div>
  <h2 class="text-center mb-5"><%= t('.header') %></h2>

  <div class="row">
    <% @badges.each do |badge| %>
      <div class="col-md-6 mb-5">
        <ul>
          <li>
            <b><%= badge.title %></b>
            <p>
              <%= badge.description %><br>
              <%= link_to image_tag(badge.image_url, size: "150x150") %>
            </p>
          </li>
        </ul>
      </div>
    <% end %>
  </div>

  <p>
    <%= button_to t('helpers.button.back'), my_badges_path, method: :get, class: "btn btn-outline-secondary" %>
  </p>
</div>
