<h2 class="text-center mb-4"><%= t('.header') %></h2>

<table class="styled-table-admin">
  <thead>
  <tr>
    <th><%= t('.question') %></th>
    <th><%= t('.url') %></th>
    <th><%= t('.email') %></th>
  </tr>
  </thead>
  <tbody>
  <% @gists.each do |gist| %>
    <tr>
      <td><%= link_to truncate(gist.question.body, length: 25), admin_question_path(gist.question), class: 'text-primary' %></td>
      <td><%= link_to gist.url.split('/').last, gist.url, target: '_blank', class: 'text-primary' %></td>
      <td><%= gist.user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="pagination d-flex justify-content-center">
  <button id="showMoreRows" class="btn custom-button">Show more</button>
  <button id="showLessRows" class="btn custom-button hide">Roll up</button>
</div>
