<%= form_with model: @user, local: true do |form| %>
  <%= render 'shared/errors', resource: @user %>

  <p><%= link_to 'Уже есть аккаунт? Авторизоваться здесь!', login_path %></p>
  <p>
    <%= form. label :name, 'Логин' %>
    <%= form.text_field :name, id: :user_name %>
  </p>

  <p>
    <%= form. label :email %>
    <%= form.text_field :email, id: :user_email %>
  </p>

  <p>
    <%= form.label :role, 'Роль' %>
    <%= form.collection_select :role, [%w[Пользователь user], %w[Администратор admin]], :last, :first %>
  </p>

  <p><%= form.label :password, 'Пароль' %></p>
  <p><%= form.password_field :password, id: :user_password %></p>

  <p><%= form.label :password_confirmation, 'Подтвердите пароль' %></p>
  <p><%= form.password_field :password_confirmation, id: :user_password_confirmation %></p>

  <p><%= form.submit 'Создать пользователя' %></p>
<% end %>
