<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<h3>
  <%= t('test_passages.result.message') %>
  <span style="color: <%= @test_passage.result_successful? ? 'green' : 'red' %>;">
    <%= @test_passage.result_message %>
  </span>
</h3>

<p>
  <%= button_to t('helpers.button.back_to_tests'), tests_path, method: :get %>
</p>
