<div class="col col-md-12">
  <h2 class="mb-3"><%= t('.header', title: @test_passage.test.title) %></h2>
  <p class="mb-4">
    <%= t('.question_status', current: @test_passage.current_question_number, total: @test_passage.test.questions.size) %>
  </p>
  <div class="row mb-4 d-flex align-items-center">
    <div class="progress col-md-6"
         data-total-questions="<%= @test_passage.test.questions.size %>"
         data-current-question="<%= @test_passage.current_question_number %>">
      <div class="progress-bar progress-bar-striped progress-bar-animated"
           role="progressbar"
           style="width: 0%;"
           aria-valuenow="0"
           aria-valuemin="0"
           aria-valuemax="100">
      </div>
    </div>
    <div class="timer col-md-6 text-end"
         data-test-passage-id="<%= @test_passage.id %>"
         data-duration="<%= @test_passage.test.duration %>">
      <span id="time-remaining" class="h3 text-danger"></span>
    </div>
  </div>

  <h3 class="mb-3"><%= @test_passage.current_question.body %></h3>

  <%= form_with url: test_passage_path(@test_passage), id: "final_question_form", local: true, method: :put do |form| %>
    <div class="form-group">
      <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
        <div class="form-check mb-3">
          <%= b.check_box id: "answer_ids_#{b.object.id}" %>
          <%= b.label %>
        </div>
      <% end %>
    </div>

    <div class="mt-4">
      <% if @test_passage.current_question_number < @test_passage.test.questions.count %>
        <p><%= form.submit t('helpers.submit.test_passages.next'), class: "btn btn-secondary" %></p>
      <% else %>
        <button id="finish-test-button" class="btn btn-secondary"><%= t('helpers.button.finish_test') %></button>
      <% end %>
    </div>
  <% end %>

  <p><%= button_to t('helpers.button.gist'), gists_path(test_passage_id: @test_passage.id), method: :post, class: "btn btn-outline-secondary" %></p>
</div>
