<h2><%= @answer.question.body %></h2>

<p>
  <b><%= t('.answer') %></b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t('.status') %></b>
  <%= @answer.correct %>
</p>

<%= button_to t('helpers.button.back'), admin_question_path(@answer.question), method: :get %>
