<h3 class="mb-4"><%= @question.test.title %>: <%= @question.body %></h3>

<h4><%= t('.title') %></h4>

<div class="mb-4">
  <%= button_to t('helpers.button.add_answer'), new_admin_question_answer_path(@question), method: :get,
  class: "btn custom-button" %>
</div>

<ol class="list-group mb-4">
  <%= render @question.answers %>
</ol>

<div class="mb-3">
  <%= button_to t('helpers.button.modify_question'), edit_admin_question_path(@question), method: :get,
  class: "btn btn-light text-custom border" %>
</div>
<div class="mb-3">
  <%= button_to t('helpers.button.delete_question'), admin_question_path(@question), method: :delete,
  class: "btn btn-light text-custom border" %>
</div>
<div>
  <%= button_to t('helpers.button.back'), admin_test_path(@question.test), method: :get,
  class: "btn btn-light text-custom border" %>
</div>
