<tr>
  <td class="center-text"><%= test.title %></td>
  <td class="center-text"><%= test_level(test) %></td>
  <td class="center-text"><%= test.questions.length %></td>
  <td class="center-text"><%= test.author.first_name %> <%= test.author.last_name %></td>
  <td class="center-text"><%= button_to t('helpers.button.open'), admin_test_path(test), method: :get %></td>
  <td class="center-text"><%= button_to t('helpers.button.modify_test'), edit_admin_test_path(test), method: :get %></td>
  <td class="center-text">
    <%= button_to t('helpers.button.delete_test'), admin_test_path(test), method: :delete %>
  </td>
</tr>
