<tr>
  <td class="center-text">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="center-text"><%= test.category.title %></td>
  <td class="center-text"><%= test.level %></td>
  <td class="center-text"><%= test.questions.length %></td>
  <td class="center-text"><%= test.duration.present? ? test.duration : '-' %></td>
  <td class="center-text"><%= test.author.first_name %> <%= test.author.last_name %></td>
  <td class="center-text">
    <%= button_to t('helpers.button.open'), admin_test_path(test), method: :get, class: "btn btn-light text-custom btn-sm border" %>
  </td>
  <td class="center-text">
    <a href="<%= edit_admin_test_path(test) %>"
       data-test-id="<%= test.id %>"
       class="btn btn-light text-custom btn-sm border form-inline-link">
      <%= t('helpers.button.modify_test_title') %>
    </a>
  </td>
  <td class="center-text">
    <%= button_to t('helpers.button.delete_test'), admin_test_path(test), method: :delete,
    data: { confirm: 'Вы уверены?' }, class: "btn btn-light text-custom btn-sm border" %>
  </td>
</tr>
