<h1 class="center-text"><%= t('.header') %></h1>

<% if @tests.present? %>

  <p>
    <%= button_to t('helpers.button.add_test'), new_admin_test_path, method: :get %>
  </p>

  <table class="styled-table">
    <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.questions_quantity') %></th>
      <th><%= t('.author') %></th>
      <th colspan="4"><%= t('.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <%= render @tests %>
    </tbody>
  </table>

<% else %>
  <p><%= t('.empty') %></p>
<% end %>
