<h2 class="text-center"><%= t('.header') %></h2>

<% if @tests.present? %>

  <div class="d-flex gap-4">
    <%= button_to t('helpers.button.add_test'), new_admin_test_path, method: :get, class: "btn custom-button" %>
    <%= button_to t('helpers.button.category_list'), admin_categories_path, method: :get, class: "btn custom-button" %>
  </div>

  <%= render 'shared/errors', resource: @test %>

  <table class="styled-table-admin">
    <thead>
    <tr>
      <th class="sort-by-title pointer">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success' %>
        <%= octicon 'arrow-down', class: 'text-success' %>
      </th>
      <th><%= t('.category') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.questions_quantity') %></th>
      <th><%= t('.duration') %></th>
      <th><%= t('.author') %></th>
      <th colspan="4"><%= t('.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <%= render @tests %>
    </tbody>
  </table>

<% else %>
  <p><%= t('.empty') %></p>
<% end %>
