<h1>Вопросы теста: <%= @test.title %></h1>

<div class="padding-10"><%= button_to 'Добавить вопрос', new_admin_test_question_path(@test), method: :get %></div>

<ul>
  <%= render @questions %>
</ul>

<div class="padding-10"><%= button_to 'Изменить тест', edit_admin_test_path, method: :get %></div>
<div class="padding-10"><%= button_to 'Удалить тест', admin_test_path(@test), method: :delete, data: { confirm: 'Вы уверены?' } %></div>
<div class="padding-10"><%= button_to 'Назад', admin_tests_path, method: :get %></div>
