<tr>
  <td class="center-text"><%= test.title %></td>
  <td class="center-text"><%= test_level(test) %></td>
  <td class="center-text"><%= test.questions.length %></td>
  <td class="center-text"><%= test.author.name %></td>
  <td class="center-text"><%= link_to 'Открыть', test_path(test) %></td>
  <td class="center-text"><%= link_to 'Изменить', edit_test_path(test) %></td>
  <td class="center-text">
    <%= button_to 'Удалить',
                test_path(test),
                method: :delete %>
  </td>
  <td class="center-text"><%= button_to 'Пройти тест', start_test_path(test) if test.questions.any? %></td>
</tr>
