<h2 class="text-center"><%= t('.header') %></h2>

<% if @tests.present? %>

  <table class="styled-table-user">
    <thead>
    <tr>
      <th class="sort-by-title pointer">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success' %>
        <%= octicon 'arrow-down', class: 'text-success' %>
      </th>
      <th><%= t('.level') %></th>
      <th><%= t('.questions_quantity') %></th>
      <th><%= t('.author') %></th>
      <th><%= t('.passage') %></th>
    </tr>
    </thead>
    <tbody>
    <%= render @tests %>
    </tbody>
  </table>

<% else %>
  <p><%= t('.empty') %></p>
<% end %>
