<!DOCTYPE html>
<html lang=<%= I18n.locale %>>
<head>
  <title>Admin Panel | TestGuru</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="d-flex flex-column min-vh-100">
  <%= render 'admin/nav' %>

  <div class="container flex-grow-1">
    <%= flash_message %>
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>
</body>
</html>
