<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="height: 100vh; display: flex; flex-direction: column;">
      <div style="flex: 1;">
        <%= yield %>
      </div>

      <footer>
        <p> <%= current_year %> Автор проекта: Моторина Лидия</p>

        <p>
          <a href="<%= github_url('MotorinaLidiya', 'test-guru') %>" target="_blank" rel="nofollow noopener">TestGuru</a>
          — платформа для создания тестов и управления ими
        </p>

        <p><a href="https://thinknetica.com" target="_blank" rel="nofollow noopener">Учебный проект в онлайн-школе Thinknetica</a></p>
      </footer>
    </div>
  </body>
</html>
