<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
        <% if logged_in? %>
          <div class="nav-container">
            <h3>Добро пожаловать, <%= current_user.name %> <%= link_to 'Guru', tests_path %></h3>
            <p class="nav logout"><%= button_to 'Выйти из аккаунта', logout_path, method: :delete %></p>
          </div>
        <% end %>

        <%= yield %>

        <div class="bottom">
          <%= render 'shared/footer' %>
        </div>
      </div>
  </body>
</html>
